<!DOCTYPE html>
<html>

<head>
    <title>Pool Ride</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="parent">
        <div id="map">
        </div>
    
        <form method="post">
        <div id="form">
                <input type="text" name="source" id="source" placeholder="Enter Source" required>
                <input type="text" name="dest" id="dest" placeholder="Enter Destination" required>
                <button type="submit">Find Pool</button>
            </div>
        </form>
    </div>

</body>

</html>