<!DOCTYPE html>
<html>

<head>
    <title>Pool Ride</title>
    
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"> -->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/template.css') }}" /> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/styles.css') }}">
    
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>

</head>

<body>

    <div id="parent">
        <div id="map">
        </div>
        
        <form method="post">
            <div id="form">
                <input type="text" name="source" id="source" placeholder="Enter Source" required>
                <input type="text" name="dest" id="dest" placeholder="Enter Destination" required>
                <button type="submit">Find Pool</button>
            </div>
        </form>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/render_map.js') }}"></script>
</body>

</html>