html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

H1 {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 200px;
    padding-bottom: 200px;
    font-weight: 900;
}

#container {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: stretch;
    background-color: #f5f5f5;

    padding: 75px;
    border-radius: 38px;

}

#form {
    gap: 14px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-top-left-radius: 12%;
    border-top-right-radius: 12%;
    background-color: aqua;
    background-color: #f5f5f5;
}

button, input {
    font-size: 30px;
    margin: 0;
    border: none;
    border-radius: 50px;
    height: 95px;
}

input {
    background-color: white;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;

}

button {
    background-color: yellow;
}