body, html, #parent {
    height: 100%;
}

#parent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#map {
    height: 100%;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 14px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-top-left-radius: 12%;
    border-top-right-radius: 12%;
    background-color: aqua;
    background-color: #f5f5f5;
}

button, input[type=text] {
    font-size: 30px;
    margin: 0;
    border: none;
    border-radius: 50px;
    height: 95px;
}

input[type=text] {
    background-color: white;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;

}

button {
    background-color: yellow;
    
}